<h1> All Tasks! </h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.body %> | <a href="/tasks/<%= task.id %>">show</a></li>
  <% end %>
  <img src="http://a3.mzstatic.com/us/r30/Purple5/v4/bb/6c/c6/bb6cc6e7-6e94-ec6d-bb0f-d0af01b68ca2/icon128-2x.png">
</ul>
